{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

echo "run brew doctor..."
which brew >/dev/null 2>&1 && brew doctor

echo "run brew update..."
which brew >/dev/null 2>&1 && brew update

echo "ok. run brew upgrade..."
brew upgrade

echo "brew install apps"
{{ range .packages.darwin.brews -}}
  app_name="{{ . }}"
  brew install $app_name >/dev/null 2>&1 || brew upgrade $app_name >/dev/null 2>&1
{{ end -}}

echo "brew install casks"
{{ range .packages.darwin.casks -}}
  app_name="{{ . }}"
  if ! brew install --cask $app_name; then
    echo "Failed to install $app_name, skipping..."
  fi
{{ end -}}

echo "brew installed"

{{ end -}}
